<div class="ui three column stackable grid">
    <div class="column" *appTime="3">
        <div class="ui raised segment">
            <div class="ui placeholder">
                <div class="image header" *ngIf="header">
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                <div class="paragraph" *appTime="line">
                    <div class="medium line"></div>
                    <div class="short line"></div>
                </div>
            </div>
        </div>
    </div> 
</div>